// BACKGROUND COLORS
////////////////////
$nav-bg: #f7f7f7;
$examples-bg: #393939;
$code-bg: #090b56;
$code-annotation-bg: #191D1F !default;
$nav-subitem-bg: #f7f7f7;
$nav-active-bg: #6032b0;
$nav-active-parent-bg: #1E2224 !default; // parent links of the current section
$lang-select-border: #000;
$lang-select-bg: #6032b0;
$lang-select-active-bg: #6e60cc;
$lang-select-pressed-bg: #6032b0;
$main-bg: #ffffff;
$aside-notice-bg: #6032b0;
$aside-warning-bg: #ca4949;
$aside-success-bg: #38a845;
$search-notice-bg: #c97a7e;
$link-color: #106fbc;

// TEXT COLORS
////////////////////
$main-text: #333; // main content text color
$nav-text: #3c3c3c;
$nav-active-text: #fff;
$nav-active-parent-text: #fff !default; // parent links of the current section
$lang-select-text: #fff; // color of unselected language tab text
$lang-select-active-text: #fff; // color of selected language tab text
$lang-select-pressed-text: #fff; // color of language tab text when mouse is pressed

// OTHER
////////////////////
$nav-active-shadow: #f7f7f7;
$nav-footer-border-color: #666;
$nav-embossed-border-top: #000;
$nav-embossed-border-bottom: #939393;
$main-embossed-text-shadow: 0px 1px 0px #fff;
$search-box-border-color: #666;

$bg-code-samples: #6e60cc;
$border-color: #6e60cc;
