
////////////////////////////////////////////////////////////////////////////////
// CUSTOM CONTENT STYLES
////////////////////////////////////////////////////////////////////////////////
.content {
  a {
    color: $link-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  img {
    height: auto;
    -ms-interpolation-mode: bicubic;
    display: inline-block;
    vertical-align: middle;
  }

  h1:first-child, .content div:first-child + h1 {
    padding-top: 0;
  }
}

///////////////////////////////////////////////////////////////////////////////////
// API ENDPOINT
////////////////////////////////////////////////////////////////////////////////
.api-endpoint {
  margin-right: $examples-width;
  padding: 0 $main-padding;
  box-sizing: (border-box);
  display: block;
  clear: none !important;
  @extend %left-col;

  .endpoint-data {
    background-color: $code-bg;
    color: #fff;
    border-radius: 5px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #404040;
    text-shadow: (0px 1px 2px rgba(0,0,0,0.4));
    margin: 15px 0;
    padding-right: 5px;
    min-height: 38px;

    i {
      display: inline-block;
      margin: 5px;
      padding: 4px 12px;
      line-height: 20px;
    }

    h6 {
      display: contents;
      margin: 0;
      @extend %code-font;
      text-transform: lowercase;
      font-weight: 400;
      word-break: break-all;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
// LABEL
////////////////////////////////////////////////////////////////////////////////
.label {
  border-radius: 2px;
  text-transform: uppercase;
  font-style: normal;
  white-space: nowrap;
}

.label-get {
  background: #6bbd5b;
}

.label-post,
.label-put {
  background: #4e92d7;
}

.label-delete {
  background: #ca4949;
}

.label-example {
  background: #9a6fc4;
}

.label-info {
  background: #efefef;
  color: #999;
  float: right;
  font-weight: 700;
  font-size: 70%;
  padding: 2px 4px;
  margin-left: 5px;
}

////////////////////////////////////////////////////////////////////////////////
// PAGE WARNING
////////////////////////////////////////////////////////////////////////////////

body.has-warning {
  margin-top: 33px;

  .tocify-wrapper {
    top: 33px;
  }
}

#warning-top {
  text-shadow: (0 1px 0 lighten($aside-warning-bg, 5%));
  box-shadow: 0 0 5px black;
  font-weight: bold;
  left: 0;
  line-height: 2.5;
  overflow: hidden;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 99999;
  background-color: $aside-warning-bg;
  color: lighten($aside-notice-bg, 80%);

  a {
    color: lighten($aside-notice-bg, 80%);
    text-decoration: underline;
  }

  .info:before {
    @extend %icon-exclamation-sign;
    font-size: 14px;
    padding-right: 0.5em;
    vertical-align: middle;
  }
}

////////////////////////////////////////////////////////////////////////////////
// Menu
////////////////////////////////////////////////////////////////////////////////

.toc-link,
.toc-footer li {
  padding: 3px 20px !important;
}

////////////////////////////////////////////////////////////////////////////////
// CoCart Documentation Customizations
////////////////////////////////////////////////////////////////////////////////

.toc-wrapper .logo {
  margin-top: 20px;
}

a[data-title="CoCart Add-ons"],
a[data-title="Demo CoCart"] {
  margin-top: 10px;
}

.toc-h2.toc-link[data-title="HTTP request"],
.toc-h2.toc-link[data-title="Properties"] {
  display: none;
}

.new, .deprecated {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  margin-left: 4px;
  padding: 1px 8px 2px 8px;
  margin: 2px;
  border-radius: 20px;
}

.new {
  background: #9a6fc4;
}

.deprecated {
  background: #444a7c;
}

a.label {
  background-color: #106fbc;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 74%;
}

.button {
  display: inline-block;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-transition: background-color .25s ease-out,color .25s ease-out;
  transition: background-color .25s ease-out,color .25s ease-out;
  vertical-align: middle;
  border: 1px solid transparent;
      border-bottom-color: transparent;
      border-bottom-style: solid;
      border-bottom-width: 1px;
  border-bottom-color: transparent;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-radius: 3px;
  padding: .85em 1em;
  margin: 0;
  font-size: .9rem;
  background-color: #f0f0f0;
  color: #0a0a0a;
  font-weight: 600;
  text-decoration: none !important;
  border-bottom: 2px solid $border-color;
}